.login{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .background{
        width: 100%;
        height: 100%;
        &::before{
            content: '';
            display: block;
            height: 50%;
            background: rgb(0, 188, 212);
        }
        &::after{
            content: '';
            display: block;
            height: 50%;
            background: rgb(237, 236, 236);
        }
    }
    .login-form-block{
        position: absolute;
        width: 400px;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        background: #FFF;
        padding: 20px 50px 0 50px;
        box-sizing: content-box;
        box-shadow: 0px 0px 6px #8f8f8f;
        p{
            margin: 0;
        }
        .login-form-code{
            width: 290px;
        }
        .login-form-kaptcha{
            width: 90px;
            margin-left: 20px;
            margin-top: -.5ex;
            cursor: pointer;
        }
        .login-form-button{
            width: 100%;
        }
    }
    .loadding-cover{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .8);
        .loadding-block{
            position: absolute;
            width: 300px;
            height: 120px;
            background: #FFF;
            left: 50%;
            top: 45%;
            padding: 10px;
            transform: translate(-50%, -50%);
            border-radius: 4px;
            text-align: center;
            box-sizing: border-box;
            i{
                font-size: 20px;
            }
            h1{
                font-size: 20px;
            }
            span{
                color: #8f8f8f;
            }
        }
    }
}